<!-- -*- xml -*- -->
<!--
  -->
<launch> 
<arg name="camera" default="realsense2"/>
<arg name="joint_topic" default="/joint_states"/>
<arg name="record_depth" default="false"/> 

<include file="$(find audio_capture)/launch/capture.launch"/>

<group if="$(eval arg('camera') =='realsense2')">
	<include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>
        <arg name="camera_topic" value="/camera/color/image_raw/compressed"/>  
        <group if="$(eval arg('record_depth') == true)">
		        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw/compressed"/>
                        <node pkg="rosbag" type="record" name="rosbag_record" args="record -O $(env DEMO_WS)/src/demonstration/demonstration.bag $(arg camera_topic) $(arg joint_topic) $(arg depth_topic) /audio/audio /audio/audio_info" />
	</group>
        <group if="$(eval arg('record_depth') == false)">
                        <node pkg="rosbag" type="record" name="rosbag_record" args="record -O $(env DEMO_WS)/src/demonstration/demonstration.bag $(arg camera_topic) $(arg joint_topic) /audio/audio /audio/audio_info" />
	</group>

</group>

<group if="$(eval arg('camera') =='usb')">
	<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
        <arg name="camera_topic" value="/usb_cam/image_raw/compressed"/>
	<node pkg="rosbag" type="record" name="rosbag_record" args="record -O $(env DEMO_WS)/src/demonstration/demonstration.bag $(arg camera_topic) $(arg joint_topic) /audio/audio /audio/audio_info" />
</group>

</launch>
